@import url("https://use.typekit.net/vgi1hvp.css");



body {
    margin:0;
    background-color: darkslategrey;
    min-height: 100vh;
}

.nav-col {
    margin-top: 0;
    margin-right: 10px;
    position: absolute;
    right:0;
    height: 100%;
    width:300px;
    background-color: rgb(85, 84, 84);
    border-radius: 5px;

}

#title-banner {
    /* overflow: auto;
    object-fit: cover; */
    position: flex;
    background-color: forestgreen;
    font-family: muli, sans-serif;
    font-weight: 700;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    margin-bottom: 0;
    padding-top: 10px;
    border-color: black;
    box-shadow: 3px 3px 5px black;
}

#name-display{
    font-family: muli, sans-serif;
}

#id-display {
    font-family: muli, sans-serif;
    font-weight: 700;
}

.nav-col h1 {
    font-family: muli, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}


#generate {
    margin-top: 20px;
    box-shadow: 3px 3px 5px black;
    /* position: absolute;
    top: 170%;
    left: 45%; */
    border-color: black;
    border-radius: 5px;
    padding: 5px;
    background-color: forestgreen;
    font-size: 30px;
    font-family: muli, sans-serif;
    font-stretch: semi-expanded;
    letter-spacing: 2px;
    font-weight: 400;
}
#favorite-meme {
    /* margin-top: 20px;
    margin-bottom: 10%; */
    box-shadow: 3px 3px 5px black;
    position: absolute;
    bottom: -20%;
    right: 1%;
    border-color: black;
    border-radius: 5px;
    padding: 10px;
    background-color: forestgreen;
    font-size: 30px;
    font-family: muli, sans-serif;
    font-stretch: semi-expanded;
    letter-spacing: 2px;
    font-weight: 400;
}

.favorite-container h1 {
    text-align: center;
    font-family: muli, sans-serif;
    font-weight: 700;
}

.favorite-container {
    position: flex;
    top:20%;
    width: 90%;

}

#favorite-meme:active {
    box-shadow: 3px 0px black;
    transform: translateY(4px);
}

#generate:active {
    box-shadow: 3px 0px black;
    transform: translateY(4px);
}

.main {
    width: 450px;
    height: 500px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-60%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */
#meme-container img {
    position: relative;
    top: 0%;
    right: 0%;
    width: 450px;
    height: 450px;
    border-color: black;
    box-shadow: 3px 3px 5px black;
    border-width: 2px;
}

.delete {
    background: none;
    border: 0;
    margin-left: 3px;
}

form {
    text-align: center;
    position: absolute;
    top: 95%;
    right: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    /* margin-left: 400px;
    margin-right: 400px; */
    box-shadow: 3px 3px 5px black;
    border-color: black;
    border-radius: 5px;
    padding: 10px;
    background-color: forestgreen;
    font-size: 24px;
    font-family: muli, sans-serif;
    font-stretch: semi-expanded;
    letter-spacing: 2px;
    font-weight: 400;
}

h3 {
    margin-top: 2%;
    margin-bottom: 2%;
}

#name,
#email,
#message {
    font-family: muli, sans-serif;

    text-align: center;
    background-color: rgb(78, 197, 78);
    border: none;
    border-width: 1px;
    margin-bottom: 1px;
    text-decoration-color: black;
    box-shadow: 1px 1px 5px black;
}

::placeholder {
    color:darkslategray;
}

#submit-button {
    border-color: black;
    border-radius: 5px;
    padding: 10px;
    background-color: forestgreen;
    font-size: 24px;
    font-family: muli, sans-serif;
    font-stretch: semi-expanded;
    letter-spacing: 2px;
    font-weight: 400;
}

.new-favorite {
    background-color: forestgreen;
    font-family: muli, sans-serif;
    font-weight: 100;
    box-shadow: 3px 3px 5px black;
    border-color: black;
    border-radius: 5px;
    width: 80%;

}

#submit-button:active {
    background-color: rgb(21, 100, 21);
}

#generator {
    background-color: darkgrey;
}